* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-preto-abstrato-da-grade-digital_53876-97647.jpg?w=996&t=st=1704660877~exp=1704661477~hmac=d279767d8d9de0e24e68230ea0cf25cb868c596bd64e5e4dd0cf3ef4fcf8d1e0');
    background-size: 100%;
}

#labelConversorDeMoedas {
    position: relative;
    font-weight: bold;
    font-size: 32px;
    margin-left: 13%;
    top: 2rem;
    color: white;
}

#LabelMoedaParaConverter {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 5.5rem;
    margin-left: 2.5%;
    color: white;
}

#opcaoDeMoeda {
    position: relative;
    top: 7.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0.18rem;
    height: 5.5rem;
}

#valorParaConverter {
    position: relative;
    top: 7.3rem;
    font-size: 28px;
    margin-left: 5%;
    font-weight: bold;
    color: white;
}

#opcaoDeMoeda button {
    margin: 0.16rem;
    margin-bottom: 0.3rem;
    font-size: 21px;
    font-weight: bold;
    color: rgb(64, 60, 60);
}

#BTN-ConverterMoeda {
    position: relative;
    width: 23rem;
    height: 2.2rem;
    margin-left: 6%;
    top: 29rem;
    font-size: 24px;
    font-weight: bold;
}

#MoedaEscolhida {
    position: relative;
    top: 12rem;
    font-weight: bold;
    font-size: 32px;
    margin-left: 11%;
    color: white;

}

#numero {
    position: relative;
    top: 9.2rem;
    border: solid 1px black;
    width: 20.5rem;
    height: 1.9rem;
    font-size: 28px;
    margin-left: 10%;
    color: black;
}

#moedaLocal {
    position: relative;
    top: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0.18rem;
    height: 5.5rem;
}

#moedaLocal button {
    margin: 0.16rem;
    margin-bottom: 0.3rem;
    font-size: 21px;
    font-weight: bold;
    color: rgb(64, 60, 60);
}

#valoresConvertidos {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 42.4rem;
    margin-left: 7%;
    font-weight: bold;
    font-size: 26px;
    color: white;
}

#valoresConvertidos li {
    margin-bottom: 1rem;
}